@import "../../../assets/styles/theme-default";

.honor-award {
  .year {
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: $theme-color;
  }

  .award-name {
    color: $text-grey;
    margin-top: -2px;
    font-size: 16px;
    font-weight: 300;
    .name {
      font-weight: 500;
    }
  }
  .award-location {
    color: $text-grey;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .honor-award {
    margin-bottom: 25px;
  }
}
