@import "../../../assets/styles/theme-default";

.skill-category {
  margin-bottom: 10px;
  .category-label {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    color: $theme-color;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .category-skills {
    color: $text-grey;
    font-weight: 300;
  }
}

@media (max-width: 757px) {
  .skill-category {
    .category-label {
      font-size: 15px;
    }
    .category-skills {
      margin-top: -2px;
    }
  }
}
